# comment
snippet ;log console2.log()
  console2.log("$1", $2);

snippet ;tilde ~
	~

snippet ;backtick `
	`

snippet ;backticks ```
	```

snippet ;struct add struct
	struct $1 {
		$2;
	}

snippet ;inheritdoc inheritdoc
	/**
   * @inheritdoc $1
   */


snippet ;blockComment pretty block comment
	/*´:°•.°+.*•´.*:˚.°*.˚•´.°:°•.°•.*•´.*:˚.°*.˚•´.°:°•.°+.*•´.*:*/
	/*                       $1                   */
	/*.•°:°.´+˚.*°.˚:*.´•*.+°.•°:´*.´•*.•°.•°:°.´:•˚°.*°.˚:*.´+°.•*/

snippet ;doc doc
	/**
   * @notice: $1
	 * @dev: $2
	 * @param $3
	 * @param $4
	 * @return $5
   */

snippet ;console2 console2.log()
  console2.log("$1", $2);

snippet ;uint[2][] uint[2][]
	uint256[2][] $1 $2

snippet ;uint[2][]calldata uint[2][]
	uint256[2][] calldata $1

snippet ;uint[2][]memory uint[2][]
	uint256[2][] memory $1

snippet ;import* imports
  import { $1} from "$2";

snippet ;importConsoleLog2 console2.log()
  import { console2 } from "forge-std/console2.sol";

snippet ;importERC20 import IERC20
  import { IERC20 } from "forge-std/interfaces/IERC20.sol";

snippet ;pragma pragma
  // SPDX-License-Identifier: MIT
  pragma solidity ^0.8.23;

snippet ;contract  contract
  contract $1 {
    $2
  }


snippet ;functionInternalReturn  internal function with return
  function $1($2) $3 returns($4) {
    $4
  }

snippet ;functionInternal internal function no return
  function $1($2) $3 {
    $4
  }

snippet ;contractInherit solidity contract
  contract $1 is $2 {
    $3
  }

snippet ;for for-gasbad
  for (uint256 i; i < ${1:10}; i++) {
	  $2
  }

snippet ;test foundry test template
	import {Test} from "forge-std/Test.sol";
	contract $1 is Test {

		function setUp() public {}

		function test_$2() public {}

	}

